.chat-main
  .chat-main__header
    .chat-main__header__left-box
      .chat-main__header__left-box__group
        test
      %ul.chat-main__header__left-box__member
        Member:
        %li.chat-main__header__left-box__member__name
          m          
    = link_to "Edit", root_path , class: "chat-main__header__right-box"
  .chat-main__message
    .chat-main__message__data-message
      .chat-main__message__data-message__upper-info
        %p.chat-main__message__data-message__upper-info__talker
        tago
        %p.chat-main__message__data-message__upper-info__date
        2020/01/16(Thu) 17:00
      .chat-main__message__data-message__upper-info_text
        おはよう
      .chat-main__message__data-message__info2
        %p.chat-main__message__data-message__info2__talker
          imai
        %p.chat-main__message__data-message__info2__date
          2020/01/16(Thu) 17:30
      .chat-main__message__data-message__text2
        こんにちは
      .chat-main-message-data-message__list-text
  .chat-main__form
    .chat-main__form__imput-box
      .chat-main__form__imput-box__message-form
        %input{type:"text",class:"input-box__text",placeholder:"type a message"}
        %form.input-box__image
          %label{class:"input-box__image"}
            = icon('far', 'image')
            %input{type:"file",class:"input-image"}
        =link_to"Send",root_path ,class:"submit__btn"
            
   
