* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  position: fixed;
}

.messages{  
  height: calc(100vh - 190px);
  background-color:#fafafa;
  width: calc(100vw - 300px);
  padding: 46px 40px;
  overflow: scroll;
  display: block;
  box-sizing: border-box;
  &__message{
    padding-bottom: 40px;
    &__upper-info{
      display: flex;
      margin-bottom: 10px;
      &__user-name{
        color: #333333;
        font-size: 16px;
        font-weight: bold;
      }
      &__date{
        padding-left: 10px;
        color: #999999;
        font-size: 12px;
      }
    }
    &__lower-message{
      margin-top: 10px;
      font-size: 14px;
      width: 100%;
      box-sizing: border-box;
    }  
    .lower-message_image {
     }
     
  }
}


 